.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 30px 30px 10px 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submitbtn{
  background-color: #fb641b;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  width: 100%;
}
