.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    margin-top: 20px;
}

.cardBody{
    width: 300px;
    height: 485px;
}


.cart{
    background-color: #186faf;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    border: none;
}

.cart:hover {
  background-color: #157347;
}

.clicked {
  transform: scale(0.95);
  background-color: #14532d;
}

@media screen and (max-width: 768px) {
    
}
